################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EmployeeManagement/v15
/EmployeeManagement/obj/Debug
/EmployeeManagement/Properties
/.vs
